<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b48a68">  <td>21/02/02 20:30:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="homepage.dollardayspage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DDProject.DDProject.homepage@294a6b8e]">dollardayspage</td> 
  <td>main@1832669781</td>   <td></td> </tr>
<tr bgcolor="b48a68">  <td>21/02/02 20:30:16</td>   <td>-2280</td> <td>&nbsp;</td><td title="&gt;&gt;homepage.initializer()[pri:0, instance:DDProject.DDProject.homepage@294a6b8e]">&gt;&gt;initializer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1832669781</td>   <td></td> </tr>
<tr bgcolor="b48a68">  <td>21/02/02 20:30:27</td>   <td>9442</td> <td>&nbsp;</td><td title="&lt;&lt;homepage.teardown()[pri:0, instance:DDProject.DDProject.homepage@294a6b8e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1832669781</td>   <td></td> </tr>
</table>
