<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b2be7a">  <td>21/02/02 16:12:05</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;homepage.initializer()[pri:0, instance:DDProject.DDProject.homepage@19553973]">&gt;&gt;initializer</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@443713699</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/02/02 16:12:07</td>   <td>2594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="homepage.dollardayspage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:DDProject.DDProject.homepage@19553973]">dollardayspage</td> 
  <td>main@443713699</td>   <td></td> </tr>
<tr bgcolor="b2be7a">  <td>21/02/02 16:12:22</td>   <td>17139</td> <td>&nbsp;</td><td title="&lt;&lt;homepage.teardown()[pri:0, instance:DDProject.DDProject.homepage@19553973]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@443713699</td>   <td></td> </tr>
</table>
